/* OVERRIDES ALL STYLESHEETS */


/* SIDEBAR TABLE OF CONTENTS */

#example #toc .branding {
    font-weight: 900;
    height: 36px !important;
    letter-spacing: 1px;
}


/* SIDEBAR TOGGLER */

#example #sidebar-toggler {
    top: 96px;
}


/* TOP HEADER MAIN MENU */

#example #main-menu {
    letter-spacing: 1px;
}


/* MASTHEAD */

#example #masthead {
    padding-top: 92px;
}

#example #masthead .tabular.menu {
    margin-top: 54px;
}