/* OVERRIDES ALL STYLESHEETS */


/* GLOBAL */

span.strike {
    text-decoration: line-through;    
}


/* SIDEBAR TABLE OF CONTENTS */

#example #toc .branding {
    height: 36px !important;
    letter-spacing: 1px;
}


/* SIDEBAR TOGGLER */

#example #sidebar-toggler {
    top: 96px;
}


/* TOP HEADER MAIN MENU */

#example #main-menu,
#example #m360-upcycler-footer {
    letter-spacing: 1px;
}


/* MASTHEAD */

#example #masthead {
    padding-top: 101px;
}

#example #masthead .introduction .content {
    padding-left: 1.25rem;
}

#example #masthead .header {
    line-height: 1.185em;
}

#example #masthead .sub.header {
    line-height: 1.185em;
    padding-top: 9px;
}

#example #masthead .tabular.menu {
    margin-top: 72px;
}

#example #masthead #logo-m360-upcycler {
    background: -moz-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,170,170,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(170,170,170,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(170,170,170,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(170,170,170,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(170,170,170,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    border-radius: 3px;
    color: #FFFFFF;
    opacity: 0.7;
    text-shadow: 2px 2px #AAAAAA;
    vertical-align: top;
}


/* FOOTER */

#example .footer p i,
#example .footer .list i {
    margin-left: 4px;
    margin-right: 0;
}

#example .footer p,
#example .footer p a,
#example .footer .list,
#example .footer .ui.bulleted.list .list > .item::before,
#example .footer .ui.bulleted.list > .item::before,
#example .footer ul.ui.list li::before {
    color: #FFFFFF;    
}

#example .footer p a:hover,
#example .ui.inverted.list .list > a.item:hover,
#example .ui.inverted.list > a.item:hover {
    color: #FFFFFF;
    font-weight: 900;
}

#example #magnet-360-footer {
    background-color: #006892;
}

#example #magnet-360-footer .ui.steps .step {
    vertical-align: text-top;
}

#example #magnet-360-footer .ui.steps .step .title,
#example #magnet-360-footer .ui.steps .step .description {
    color: #006892;
}

#example #m360-upcycler-footer {
    padding: 24px;
}